﻿{% extends 'base.html' %}
{% load static %}

{% block content %}

<body style="background-image: url('{% static 'img/background/Bright Graphic Designer Portfolio Website (White).png'%}')">

<div class="row">
    <div class = "col-md-6 ">
        <p class="font" id="hello">HELLO</p>
        <p class="font" id="im">I'm</p>
        <p class="font" id="name">Wiena Amanda</p>
       </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img id="photo" src="{% static 'img/logo/Ellipse.png' %}" style="width: 50%;">
    </div>
</div>
</body>
{% endblock %}
