{% extends 'base.html' %}
{% load static %}

{% block content %}
<body style="background-image: url('{% static 'img/background/Bright Graphic Designer Portfolio Website (pink).png'%}')">

   <div class="row">
    <p class="font" id="judul">DESCRIPTION</p>
</div>

<div class="row">
    <p class="font" id="isi">I'm a computer science student Universitas Indonesia. I have a passion for coding and love to design.</p>
    </div>

<div class="row">
    <p class= "font" id="judul">EDUCATION</p>
    </div>

<div class="row">
    <div class="col-md-6">
        <p class="font" id="isi">2018</p>
        <p class="font" id="isi">2015 - 2018</p>
        <p class="font" id="isi">2012 - 2015</p>
        <p class="font" id="isi">2006 - 2012</p>   
</div>
    <div class="col-md-6">
        <p class="font" id="isi">Universitas Indonesia</p>
        <p class="font" id="isi">34 Senior High School</p>
        <p class="font" id="isi">85 Junior High School</p>
        <p class="font" id="isi">11 Elementary School</p>
    </div>
</div>

<div class="row">
        <p class= "font" id="judul">SKILLS</p> 
    </div>
<div class="row">
        <p class="font" id="isiskill">- Basic Programming</p><br>
        <p class="font" id="isiskill">- Communication</p><br>
        <p class="font" id="isiskill">- Graphic Design</p>
</div>

<div class="row">
        <p class= "font" id="judul">EXPERIENCES</p>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        <table>
            <tr align="center">
                <td><img id="imgexperience" src="{% static 'img/logo/Ellipse 3.png' %}" width=90%></img></td>
                <td><img id="imgexperience" src="{% static 'img/logo/Ellipse 4.png' %}" width=90%></img></td>
                <td><img id="imgexperience" src="{% static 'img/logo/Ellipse 5.png' %}" width=90%></img></td>
              </tr>
             <tr>
                <td id="staff">Staff Fundraising<br>of CGT</td>
                <td id="staff">Staff<br>Sponsorship<br>of COMPFEST</td>
                <td id="staff">Sports Staff<br>Student<br>Excecutive Board</td>
              </tr>
        </table>
    </div>
  

{% endblock %}