{% extends 'base.html' %}

{% load static %}
{% block content %}
<body style="background-image: url('{% static 'img/background/Bright Graphic Designer Portfolio Website (pink).png'%}')">

<div style="text-align:center;">
    <table>
        <tr>
            <td><img id="logo" src="{% static 'img/logo/email.png' %}" style="width: 10%;"></td>
            <td id="tulisan">wienamanda@gmail.com</td>
            </tr>
                <tr>
                    <td><img id="logo" src="{% static 'img/logo/telpon.png' %}" style="width: 10%;"></td>
                    <td id="tulisan">(+62) 85780066202</td>
                </tr>
                <tr>
                    <td>
                        <a href="facebook.com/wiemanda"><img id="logo" src="{% static 'img/logo/facebook.png' %}" style="width: 10%;"></a> 
                    </td>
                    <td id="tulisan">wiemanda</td>
                </tr>
                <tr>
                    <td>
                        <a href="https://www.linkedin.com/in/wiena-amanda-85401b194/"><img id="logo"src="{% static 'img/logo/linked in.png' %}" style="width: 10%"></a>
                    </td>
                    <td id="tulisan">wiena amanda</td>
                </tr>
            </table>
        </div>

{% endblock %}