{% extends 'base.html' %}

{% load static %}
{% block content %}

<body style="background-image: url('{% static 'img/background/Bright Graphic Designer Portfolio Website (23).png'%}')">
    
<div class="row">
    <div class="col-md-4">
        <img id="imgatas" src="{% static 'img/gallery/cgt1.jpg' %}">
    </div>
    <div class="col-md-4">
        <img id="imgatas" src="{% static 'img/gallery/depor1.jpg' %}">
    </div>
    <div class="col-md-4">
        <img id="imgatas" src="{% static 'img/gallery/compfest1.jpg' %}">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img id="imgbawah" src="{% static 'img/gallery/cgt2.jpg' %}">
    </div>
    <div class="col-md-4">
        <img id="imgbawah" src="{% static 'img/gallery/depor2.jpg' %}">
    </div>
    <div class="col-md-4">
        <img id="imgbawah" src="{% static 'img/gallery/compfest2.jpg' %}">
    </div>
</div>
{% endblock %}

