{% extends 'base.html' %}
{% load static %}

{% block content %}


<body style="background-image: url('{% static 'img/background/Bright Graphic Designer Portfolio Website (blue).png'%}')">

<a href="{% url 'schedule' %}"></a>
    <div class="row">
        <p class="font text-center" id="judul">My Schedule</p>
    </div>
        <div class="col-md-12 text-center">
                 {% if schedules %}
                <table border="1">
                    <thead>
                        <th>NO.</th>
                        <th>DATE</th>
                        <th>TIME</th>
                        <th>EVENT</th>
                        <th>PLACE</th>
                        <th>CATEGORY</th>
                    </thead>
                    <tbody>
                        {% for schedule in schedules %}
                        <div class="col-sm-4 text-center">
                            <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td> {{schedule.date.date}} </td>
                            <td> {{schedule.time}} </td>
                            <td> {{schedule.activity}} </td>
                            <td> {{schedule.place}} </td>
                            <td> {{schedule.category}} </td>
                            <td><a href="{% url 'schedule_delete' id=schedule.id %}"><button type ="button" class="btn btn-danger btn-sm mt-3">Delete</button></a>
                    </div>
                </div>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        {% else %}
            <div class="no-schedule margin-small">
                <h2>There's no schedule yet</h2>
            </div>
                {% endif %}
            </div>
        </div>
    </div>
        <br>
            <div class = 'col-md-12'>
                <div class = 'form-group'>
                    <a href="{% url 'schedule_create' %}"><button class="schbtn btn btn-primary" type="button" >Create</button></a>
                    <a href="{% url 'schedule_clear' %}"><button class="schbtn btn btn-primary" type="button">Clear All</button></a>      
            </div>
        </div>
    </body>
{% endblock %}