.navbar{
	background: #F7E2E2;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.nav-link {
	color: #000000!important;
}

#hello{
	font-weight: bold;
	font-size: 5vw;
	text-align: center;
	margin-top: 160px;
}
#photo{
	margin-top: 100px;
}
.font{
	font-family: Roboto; 
}
#im{
	font-weight: normal;
	font-size: 3vw;
	text-align: center;
}
#name{
	font-weight: normal;
	font-size: 5vw;
	text-align: center;
}
#judul{
	font-size: 3vw;
	font-weight: bold;
	padding-left: 50px;
	padding-right: 100px;
	background-color: #000000;
	color: #FFFFFF;
}
#isi{
	font-size: 2vw;
	font-weight: bold;
	margin-left: 75px;
	text-align: center;
}
#isiskill{
	font-size: 2vw;
	font-weight: bold;
	margin-left: 200px;
}
#imgexperience{
 	margin-left: 30px;
 	padding-left: 30px;
 	padding-right: 30px;
}
#staff{
	text-align: center;
	font-weight: bold;
	font-size: 2vw;
	padding-left: 20px;
}
#imgatas{
	width: 100%;
	height: 90%;
	margin-top: 10px;
}
#imgbawah{
	width: 100%;
	height: 90%;
}
#tulisan{
	font-size: 3vw;
	font-weight: bold;
	margin-right: 200px;
}
.title{
	font-size: 3vw;
	font-weight: bold;
	color: #000000;
	background-position: center;
}
.sch{
	font-size: 3vw;
	font-weight: bold;
}
.schbtn{
	margin-left: 450px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
}